@font-face {
    font-family: 'Poppins';
    src: url(Fonts/Poppins.ttf);
}
.appbar {
position: absolute;
width: 375px;
height: 92px;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
}
.appbar .status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
display: flex;
flex-direction: row;
justify-content: space-betwee;
align-items: center;
flex: 1;

}
.icon{
    padding: 5px;
}

.navbar{
 position: absolute;
left: 0px;
right: 0px;
top: 44px;
bottom: 0px;

}
ul{
    list-style: none;
}
.nav-container .navbar-brand{

width: 76px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #6070FF;
}
.main{
    display: flex;
    height:70%;
    margin-top: 30%;
}
.mobile {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 5%;
margin-right: 10%;
margin-bottom: 10px;
margin-top: 15%;
}
#paragraph2
{
display: flex;
color: #6070FF;
font-weight: bold;
}


.mobile .heading{
    display: flex;
    justify-content: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172B4D;
}


h1 {
width: 327px;
height: 150px;

/* Header / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

display: flex;
align-items: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}



.mobile .social-media {
display: flex;
flex-direction: row;
justify-content: flex-start;
width: 170.17px;
height: 20px;



}
