@font-face {
    font-family: 'Poppins';
    src: url(Fonts/Poppins.ttf);
}
.appbar {
position: absolute;
width: 375px;
height: 92px;
left: 0px;
top: 0px;
display: flex;
flex-direction: column;
}
.appbar .status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{
     position: absolute;
left: 0px;
right: 0px;
top: 44px;
bottom: 0px;

}
ul{
    list-style: none;
}
.nav-container .navbar-brand{
width: 76px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


display: flex;
align-items: center;
text-align: center;

/* Primary/B400 */

color: #6070FF;
}

.mobile {
display: flex;
flex-direction: column;
justify-content: center;

}

h1 {
width: 327px;
height: 150px;

/* Header / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* or 130% */

display: flex;
align-items: center;

/* Neutrals/N800 */

color: #172B4D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#paragraph {
    width: 327px;
height: 146px;

/* Body / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#paragraph2 {
    width: 117px;
height: 24px;

/* Body / 2 - Bolder */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Primary/B300 */

color: #7F8CFF;

}

.social-media {
width: 170.17px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}
